@use "../tokens/variables" as v;
@reference "tailwindcss";

.prose {
  --code-block-bg: var(--gray-a3);
  --border-gray: var(--gray-a6);
}

/* Thematic breaks */
.prose hr {
  @apply h-1 my-6 p-0 border-0 bg-[var(--border-gray)];
}

/* ATX headings */
.prose h1 {
  @apply text-4xl tracking-tight mt-6 mb-4;
}

.prose h2 {
  @apply text-3xl tracking-tight mt-6 mb-4;
}

.prose h3 {
  @apply text-2xl tracking-tight mt-6 mb-4;
}

.prose h4 {
  @apply text-xl tracking-tight mt-6 mb-4;
}

.prose h5 {
  @apply text-lg tracking-tight mt-6 mb-4;
}

.prose h6 {
  @apply text-base tracking-tight mt-6 mb-4;
}

.prose [id] {
  scroll-margin-top: v.$navbar-h;
}

.prose .md-anchor {
  @apply invisible absolute -ml-[1em] no-underline text-[var(--border-gray)];

  width: calc(100% + 1em);

  &:after {
    content: "#";
  }

  &:hover {
    .prose p {
      @apply my-4 text-neutral-800 dark:text-neutral-200;
    }

    @apply visible;
  }
}

.prose *:hover > .md-anchor {
  @apply visible;
}

/* Paragraphs */
.prose p {
  @apply mb-4;
}

/* Block quotes */
.prose blockquote {
  @apply mb-4;
}

/* Lists */
.prose ol, ul {
  @apply m-0 pl-5;

  &[data-depth="0"] {
    @apply mb-4;
  }
}

.prose ol {
  @apply list-decimal;
}

.prose ul {
  @apply list-none;

  & > li {
    @apply relative pl-1;
  }
  & > li:not(.task-list-item)::before {
    @apply absolute -left-6 top-0 w-6 h-6 bg-current;
  }

  &[data-depth="0"] > li:not(.task-list-item)::before {
    content: "";
    mask: url('disc.svg') no-repeat center / contain;
  }

  &[data-depth="1"] > li:not(.task-list-item)::before {
    content: "";
    mask: url('circle.svg') no-repeat center / contain;
  }

  &[data-depth="2"] > li:not(.task-list-item)::before {
    content: "";
    mask: url('square.svg') no-repeat center / contain;
  }

  &[data-depth="3"] > li:not(.task-list-item)::before {
    content: "";
    mask: url('box.svg') no-repeat center / contain;
  }
}

/* Code spans */
.prose pre {
  @apply mb-4 p-1 border border-[var(--accent-a8)] text-sm bg-[var(--code-block-bg)];
}

.prose pre .md-code-block {
  @apply relative;
}

.prose pre .md-code-block .md-code-copy-btn {
  @apply cursor-pointer absolute top-0 right-0 z-10;
}

.prose .md-inline-code {
  @apply p-1 bg-[var(--code-block-bg)];
}

/* Links */
.prose a {
  @apply underline transition-all decoration-[var(--border-gray)] underline-offset-2 decoration-[0.1em];

  .open-in-new-tab {
    @apply inline-block align-middle;

    transform: translate(0);
  }
}

.prose a:hover {
  @apply decoration-current;

  .open-in-new-tab {
    transform: translate(1px, -1px);
  }
}

/* Images */
.prose .md-image {
  @apply flex flex-col mb-4 p-1 bg-[var(--code-block-bg)];
}

.prose .md-image-caption {
  @apply flex w-full overflow-hidden;

  max-height: 0;
  margin-top: 0;
  opacity: 0;
  transform: translateY(-2px);

  transition: max-height 200ms ease,
  margin-top 200ms ease,
  opacity 200ms ease,
  transform 200ms ease;
}

.prose .md-image:hover > .md-image-caption {
  max-height: fit-content;
  margin-top: 4px;
  opacity: 1;
  transform: translateY(0);
}

/* Tables */
.prose .md-table {
  @apply inline-block mb-4 p-1 bg-[var(--code-block-bg)];
}

/* Task list items */
.prose .md-checkbox {
  @apply pointer-events-none cursor-default absolute top-0 -left-6 w-6 h-6 flex items-center justify-center;
}

/* Remove Safari input shadow on mobile */
.prose input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose > :last-child {
  margin-bottom: 0;
}