@reference "tailwindcss";

.expandable-box-gradient {
    @apply absolute bottom-0 left-0 right-0 p-3;

    height: var(--expandable-box-gradient-h);

    &:before {
        @apply pointer-events-none absolute inset-0 opacity-90;

        content: "";
        background: linear-gradient(180deg, #0000, var(--gray-1) 70%);
    }
}
