@reference "tailwindcss";

.expandable-box-gradient {
    @apply absolute bottom-0 left-0 right-0 p-3;

    height: var(--expandable-box-gradient-h);

    &:before {
        --gradient-color: var(--gray-2);
        @media (prefers-color-scheme: dark) {
            --gradient-color: var(--gray-4);
        }

        @apply pointer-events-none absolute inset-0 opacity-90;

        content: "";
        background: linear-gradient(180deg, #0000, var(--gradient-color) 70%);
    }
}
