@reference "tailwindcss";

.expandable-box {
  @apply relative;
}

.expandable-box-gradient {
  @apply absolute bottom-0 left-0 right-0 h-[80px] p-[var(--space-3)];

  &:before {
    @apply pointer-events-none absolute inset-0 opacity-90;

    content: '';
    background: linear-gradient(180deg, #0000, var(--gray-1) 70%);
  }

  & > div {
    @apply relative bg-[var(--gray-1)];

    & > button {
      @apply pointer-events-auto cursor-pointer;
    }
  }
}
