@use "../tokens/variables" as v;

@reference "tailwindcss";

.expandable-box {
    @apply relative;
}

.expandable-box-gradient {
    @apply absolute bottom-0 left-0 right-0 p-[var(--space-3)];

    height: v.$expandable-box-gradient-h;

    &:before {
        @apply pointer-events-none absolute inset-0 opacity-90;

        content: "";
        background: linear-gradient(180deg, #0000, var(--gray-1) 70%);
    }
}

.expand-btn-wrapper {
    @apply pointer-events-auto relative bg-[var(--gray-1)];
}
