@reference "tailwindcss";

#app-scrollarea > * {
    width: 100%;
}

#app-scrollarea {
    scroll-behavior: smooth;
}

.nav-scroll-area {
    max-width: calc(min(var(--layout-max-w),100vw) - var(--layout-px) * 2 - var(--navbar-gap) * 2 - var(--res-logo-symbol-w) - var(--nav-blog-w));

    @media screen and (min-width: 768px) {
        max-width: calc(min(var(--layout-max-w),100vw) - var(--layout-px) * 2 - var(--navbar-gap) * 2 - var(--res-logo-text-w) - var(--nav-blog-w));
    }
}

.toc {
    top: var(--toc-top) !important;
    right: var(--toc-mx) !important;
    max-width: calc((100vw - min(var(--layout-max-w),100vw)) / 2 - var(--toc-mx)) !important;
    max-height: calc(100dvh - var(--toc-top) * 2) !important;
}

.toc [data-radix-scroll-area-viewport] ~ [data-orientation="vertical"] {
    left: 0 !important;
    right: auto !important;
}

.toc-tooltip-content {
    @media screen and (min-width: 1280px) {
        transform: translateX(calc((var(--depth) - 1) * -20px));
    }
}

.post {
    @media screen and (max-width: 916px) {
        margin-right: 20px;
    }
}