@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
    --font-sans: var(--font-pretendard);
    --font-mono: var(--font-inconsolata);
}

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline-color: var(--focus-8);
}

html {
    min-width: 320px;
}

.radix-themes {
    --gray-1: var(--sage-1);
    --gray-2: var(--sage-2);
    --gray-3: var(--sage-3);
    --gray-4: var(--sage-4);
    --gray-5: var(--sage-5);
    --gray-6: var(--sage-6);
    --gray-7: var(--sage-7);
    --gray-8: var(--sage-8);
    --gray-9: var(--sage-9);
    --gray-10: var(--sage-10);
    --gray-11: var(--sage-11);
    --gray-12: var(--sage-12);
    --gray-a1: var(--sage-a1);
    --gray-a2: var(--sage-a2);
    --gray-a3: var(--sage-a3);
    --gray-a4: var(--sage-a4);
    --gray-a5: var(--sage-a5);
    --gray-a6: var(--sage-a6);
    --gray-a7: var(--sage-a7);
    --gray-a8: var(--sage-a8);
    --gray-a9: var(--sage-a9);
    --gray-a10: var(--sage-a10);
    --gray-a11: var(--sage-a11);
    --gray-a12: var(--sage-a12);

    --focus-1: var(--tomato-1);
    --focus-2: var(--tomato-2);
    --focus-3: var(--tomato-3);
    --focus-4: var(--tomato-4);
    --focus-5: var(--tomato-5);
    --focus-6: var(--tomato-6);
    --focus-7: var(--tomato-7);
    --focus-8: var(--tomato-8);
    --focus-9: var(--tomato-9);
    --focus-10: var(--tomato-10);
    --focus-11: var(--tomato-11);
    --focus-12: var(--tomato-12);
    --focus-a1: var(--tomato-a1);
    --focus-a2: var(--tomato-a2);
    --focus-a3: var(--tomato-a3);
    --focus-a4: var(--tomato-a4);
    --focus-a5: var(--tomato-a5);
    --focus-a6: var(--tomato-a6);
    --focus-a7: var(--tomato-a7);
    --focus-a8: var(--tomato-a8);
    --focus-a9: var(--tomato-a9);
    --focus-a10: var(--tomato-a10);
    --focus-a11: var(--tomato-a11);
    --focus-a12: var(--tomato-a12);

    --default-font-family: var(--font-sans);
    --color-background: var(--gray-1);
    @media (prefers-color-scheme: dark) {
        --color-background: var(--gray-5);
    }
}
