@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    min-width: 320px;
}

.radix-themes {
    --color-background: var(--gray-2);
}