@use "../tokens/variables";

@reference "tailwindcss";

.expandable_box_gradient {
    height: var(--expandable-box-gradient-h);

    &:before {
        --gradient-color: var(--gray-1);

        @apply pointer-events-none absolute inset-0 opacity-90;

        content: "";
        background: linear-gradient(180deg, #0000, var(--gradient-color) 70%);
    }
}
